{% extends 'partials/tile.html' %}

{% set tile_click_behaviour = "window.location.href='" ~ url_for("news.view_news", post_id=post.id) ~ "'" %}
<!-- The HTML for the overview of an event -->
{% block content %}
    {% if post.images %}
        <img src="/files/{{ post.images[0].filename }}" alt="Thumbnail" width="60px" height="60px">
    {% endif %}
    <span class="news-summary">
        <h3>{{ post.name }}</h3>
        <p>{{ post.summary }}</p>
        <p class="date">Published on {{ post.created_at | format_datetime }}</p>
    </span>
    

{% endblock %}