{% extends "layout.html" %}
{% block title %}Editing item: {{ item.name }}{% endblock %}
{% block content %}

    
    <h1>Editing item: {{ item.name }}</h1>

    <form method="post" action="{{ url_for('shop.edit_shop_item', item_id=item.id) }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="box-form-dark">
            {% include 'shop/partials/create_shop_form.html' %}
        </fieldset>
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='description') }}

    <a href="{{ url_for('shop.delete_shop_item', item_id=item.id) }}" class="btn btn-danger"
       onclick="return confirm('Are you sure you want to delete this item?');">Delete Item</a>

{% endblock %}