{% extends "layout.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    <h1>{{ item.name }}</h1>

    <h3>Price: <b>{{ item.price|format_price }}</b></h3>

    {% if current_user.is_authenticated %}
    <!-- Admin-only stuff -->
        <p>
            <a href="{{ url_for('shop.edit_shop_item', item_id=item.id) }}">Edit this item</a>
            <a href="{{ url_for('shop.delete_shop_item', item_id=item.id) }}" onclick="return confirm('Are you sure you want to delete this item?');">Delete this item</a>
        </p>
        
    {% endif %}

    {% if item.images %}
        <style>
            .carousel-control-next,
            .carousel-control-prev /*, .carousel-indicators */ {
                filter: invert(100%);
            }
        </style>
        <div id="shopCarousel" class="carousel slide mb-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in item.images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="/files/{{ image.filename }}" class="d-block w-25 h-25 news-image" alt="Image for {{ item.title }}">
                    </div>
                {% endfor %}
            </div>
            {% if item.images|length > 1 %}
                <button class="carousel-control-prev" type="button" data-bs-target="#shopCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#shopCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            {% endif %}
        </div>
    {% endif %}

    <p> {{ item.description | safe }}</p>

    <p>
        <a href="{{ url_for('shop.shop') }}">Back to shop</a>
    </p>

{% endblock %}