{% extends "layout.html" %}
{% set section_title = "Forgot your password?" %}
{% block title %}
    {{ section_title }}
{% endblock %}

{% block content %}
    {% set back_url = url_for("auth.login") %}
    {% set back_text = "Back to login" %}
    {% include 'partials/layout/section_title.html' %}

    <div class="centered">
        <p>Don't worry! Just enter your account email address here and we'll send a reset link if an account with that email exists.</p>
    </div>

    <form method="post">
        <fieldset class="box-form-dark">
            {% include 'partials/form.html' %}
        </fieldset>
    </form>
{% endblock %}