{% extends "layout.html" %}
{% set section_title = "Reset your password" %}
{% block title %}
    {{ section_title }}
{% endblock %}

{% block scripts %}
    <script src="/static/js/auth/passwordStrengthChecker.js"></script>
{% endblock %}

{% block content %}
    {% set back_url = url_for("auth.login") %}
    {% set back_text = "To login" %}
    
    {% include 'partials/layout/section_title.html' %}

    <form method="post">
        <fieldset class="box-form-dark">
            {% include 'partials/form.html' %}
        </fieldset>
    </form>
{% endblock %}